@font-face {
    font-family: monogram;
    src: url('EightBitDragon-anqx.ttf');
}

html {
    background: url('../images/green-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@supports (-webkit-text-stroke: 0.09rem #0a490a) { 
h1 {
    display: block;
    text-align: center;
    font-family: 'monogram', cursive;
    font-size: 3rem;
    color: rgb(255, 255, 134);
    margin-top: 0.5em;
    -webkit-text-stroke: 0.09rem #0a490a;
    }
}

@supports not (-webkit-text-stroke: 0.09rem #0a490a){
h1 {
    display: block;
    text-align: center;
    font-family: 'monogram', cursive;
    font-size: 3.5rem;
    color: #0c740c;
    margin-top: 20px;
}
}

#playerChoicesDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 11.8em;
    margin-left: 8em;
    width: 8.6em;
    background: rgba(237, 255, 6, 0.36);
}

#playerRock {
    height: 70px;
}

.playerChoices {
    margin: 0.5em;
    width: 100px;
    height: 90px;
    padding: 10px;
    border: 1px solid black;
    background: rgba(35, 84, 24, 0.64);
}