@font-face {
    font-family: monogram;
    src: url('EightBitDragon-anqx.ttf');
}

html {
    background: url('../images/green-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

@supports (-webkit-text-stroke: 0.09rem #0a490a) { 
h1 {
    display: block;
    text-align: center;
    font-family: 'monogram', monospace;
    font-size: 3rem;
    color: rgb(255, 255, 134);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-text-stroke: 0.09rem #0a490a;
    }

h2 {
    font-family: 'monogram', monospace;
    color: white;
    font-size: 2em;
    -webkit-text-stroke: 0.09rem #0a490a;
    margin-top: 0;
    margin-bottom: 0.2em;
}
}

@supports not (-webkit-text-stroke: 0.09rem #0a490a){
h1 {
    display: block;
    text-align: center;
    font-family: 'monogram', monospace;
    font-size: 3.5rem;
    color: #0c740c;
    margin-top: 20px;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'monogram', monospace;
    color: rgb(119, 107, 0);
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.2em;
}
}

#titles {
    display: flex;
    justify-content: space-around;
}

#player-title {
    margin-left: -4.8em;
}

#comp-title {
    margin-right: -5.8em;
}

#content {
    display: grid;
    grid-template-columns: 8em 10em 1fr 10em 8em; 
    grid-gap: 2em;
}

#playerChoices {
    border: 1px solid #226b11;
    display: flex;
    flex-direction: column;
    width: 8.6em;
    background: rgba(237, 255, 6, 0.36);
}

#playerRock {
    height: 70px;
}

#playerScissor {
    transform: scaleX(-1);
    padding-top: 5px;
    padding-bottom: 5px;
}

.playerChoice {
    margin: 0.5em;
    width: 100px;
    height: 90px;
    padding: 10px;
    border: 1px solid #219221;
    background: rgba(35, 84, 24, 0.64);
}

.playerChoice:hover {
    opacity: 0.9;
    border: 1px solid yellow;
}

.noHover {
    pointer-events: none;
}

#resultGif {
    display: inline;
    justify-self: center;
    align-self: center;
}

#compChoices {
    border: 1px solid #226b11;
    display: flex;
    flex-direction: column;
    width: 8.6em;
    background: rgba(237, 255, 6, 0.36);
    justify-self: end;
}
.compChoice {
    margin: 0.5em;
    width: 100px;
    height: 90px;
    padding: 10px;
    border: 1px solid #219221;
    background: rgba(35, 84, 24, 0.64);
}

#compRock {
    height: 70px;
    transform: scaleX(-1);
}

#compScissor {
    padding-top: 5px;
    padding-bottom: 5px;
}

#compPaper {
    transform: scaleX(-1);
}

#display-messages {
    display: block;
    height: auto;
    color:#108a08;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em auto;
    width: 35em;
    font-size: 22px;
    text-align: center;
    font-family: 'monogram', monospace;
}

#score {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-family: 'monogram', monospace;
    color: #108a08;
}

.afterChoose {
    opacity: 0.9;
    border: 1px solid rgb(2, 131, 55);
    background: skyblue;
}

button {
    display: block;
    position: absolute;
    height: 3rem;
    width: 10rem;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    background: rgb(191, 245, 85);
    color: green;
    border: 1px solid rgb(191, 245, 85);
    box-shadow: 3px 3px #066306;
}

button:hover {
    opacity: 0.9;
    border: 1px solid yellowgreen;
}

#start-btn {
    top: 23%;
    right: 45%;
}

#restart-btn{
    bottom: 7%;
    right: 43%;
}